.header{
    &.open{
		
		.header__toggle1{
            >span{
                background-color: #FFFFFF;
            }
		>span:first-child{
			transform: rotate(45deg);
		}

		>span:nth-child(2){
			opacity:0;
		}

		>span:last-child{
			transform: rotate(-45deg);
		}
        
		}

        .header__logo{
            background-image: url("/images/logo-wbookmark.svg");
            @include breakpoint-up(large){
                background-image: url("/images/logo-bookmark.svg");
            }
            
        }
	}
	
	.overlay{
		opacity: 0;
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: 1;
		background-image: linear-gradient($veryDarkBlueTrans, $veryDarkBlueTrans);
	}
    nav{
        z-index: 5;
        position: relative;
        height: 9.125rem;
        display: block;
        @include breakpoint-up(large){
            display: flex;
        }
    }
    &__menu1{
        position: relative;
        z-index: 5;
        border-radius: 0;
        margin: 0;
        width: 100%;
        padding-top: 2.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        @include breakpoint-up(large){
            padding-top: 3.5rem;
            
        }
		
		
    }

    &__menu2{
        min-width: 28.125rem;
        height: 2.5rem;
        margin-top: 3rem;
        margin-right: 10.3125rem;
        > a {
            margin-right: 3.125rem;
        }
    }
    &__toggle1 {
        //Mobile Menu
        align-self: center;
        > span {
            display: block;
            width: 1.125rem;
            height: 3px;
            background-color: $veryDarkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: 0.04rem 0.09rem;
            

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
        
    }

    #header-img{
        height: 1.5625rem;
        position: relative;
        z-index: 5;
        
            background-position: center;
            height: 1.5625rem;
            width: 148px;
            border: none;
            
            @include breakpoint-up(large){
                margin-left: 10.6875rem;
                
            }
        
    }

    &__links{
        position: absolute;
        margin-top: 2rem;
        width: 82.4%;
        a{
            border-top:1px solid #FFFFFF;
        }
        a:nth-child(3){
            border-bottom:1px solid #FFFFFF;
            margin-bottom: 1.5rem;
        }

        button:last-child{
            border: 2px solid #FFFFFF;
            border-radius: 10px;
            height: 2.75rem;
            padding-top: 0.1rem;
            background-color: transparent;
        }
    }
    &__link{
        display: block;
        width: 100%;
        height: 4.0625rem;
        font-size: $medium;
        font-family:  'Rubik', sans-serif;
        color: #FFFFFF;
        text-align: center;
        margin-left: 11.005%;
        
        padding-top: 1.1625rem;
    }

    .nav-link{
color:   hsl(231, 69%, 60%);
    &:hover{
    color:hsl(0, 94%, 66%);
}
    }

    #login{
        height: 100%;
        width: 6.9375rem;
        background-color: hsl(0, 94%, 66%);
        border: none;
        border-radius: 4px;
        color: white;
        &:hover{
            background-color: transparent;
            border: 1px solid hsl(0, 94%, 66%);
            color: hsl(0, 94%, 66%);
        }
    }
    
}